---
layout: default
---
{%- include nav_helpers.liquid -%}
<div class="container-fluid">
  <div class="row">
    {%- include side_navbar.liquid -%}
    <div class="col-xs-12 col-sm-9 col-xl-7">
      {{ content }}
      {% include prev_next.liquid %}
    </div>
  </div>
</div>
