<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.liquid -%}
  <body>
    {%- include topNavbar.liquid -%}
    {{ content }}
    {%- include footer.liquid -%}
  </body>
</html>
