<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.liquid -%}
  <body>
  {%- include navbar.liquid -%}
  <title>{{page.title}}</title>
  <main class="page-content" aria-label="Content">
      <center> {%- include logo.liquid -%} </center>
      <div class="wrapper">
        {{ content }}
      </div>
      {%- include footer.liquid -%}
    </main>
  </body>
</html>
