---
layout: default
---
<div class=container>
	<main class="page-content" aria-label="Content">
	<div class="col-md-10 col-xl-9">
		<center> {%- include logo.liquid -%} </center>
		{{ content }}
	</div>
	</main>
</div>
