---
layout: default
---
<div class="container-fluid">
<div class="row">
  {% if page.toc %}
    {%- include sideNavbar.liquid -%}
    {% else %}
      <div class="col-md-1">
      </div>
  {% endif %}
  <div class="col-md-9 col-xl-7 mx-md-4">
    <main role="main" class="col-justify-content-md-center">
      <h1>{{page.title}}</h1>
      {{ content }}
    </main>
  </div>
</div>
</div>
