<footer>
	<p>
    <style>
    .fixed-ratio-resize { /* basic responsive img */
	    max-width: 20%;
	    height: auto;
	    width: auto\9; /* IE8 */
    }
    </style>
    <img class="fixed-ratio-resize" src="/images/base9logo.png" alt=""/>
  </p>
</footer>
