<figure class="image">
	<figcaption style="caption-side:top text-align:center">{{ include.description }}</figcaption>
	<tr><td><img src="{{ include.url }}" alt="{{ include.description }}" width="100%"/></td></tr>
</figure>
