<header>
  <p>
    <style>
    .fixed-ratio-resize { /* basic responsive img */
      max-width: 50%;
      height: auto;
      width: auto\9; /* IE8 */
    }
    </style>
    <img class="fixed-ratio-resize" src="./assets/images/logoBase9.png" alt=""/>
  </p>
</header>
