<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<!-- Collapsed Navbar Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" a
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Make Navbar Collapsable in Resize  -->
	<div class="collapse navbar-collapse" id="navbarToggler">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

			<!-- Navbar Items -->
			<li class="nav-item active">
				<a class="nav-link" href="./index.html">
					<img src="/images/logo.png" width="40" height="40" title="Home" alt="Base9 Icon">
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="../SetupBase9.html">Documentation</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="../DeveloperJourney.html">Developer Journey</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="../Blog.html">Blog</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="https://github.com/b9org/b9">
					<img src="/images/iconGitHub.svg" width="40" height="40" title="Base9 on GitHub" alt="GitHub Icon">
				</a>
			</li>

		</ul>
	</div>
</nav>
