<nav class="sidebar col-md-3 col-lg-2 col-xl-2">
  <a class="navbar-brand">Contents</a>
  <ul class="nav flex-column nav-pills">
    {% for entry in page.toc %}
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#{{ entry.ref | default: entry.title | slugify }}">{{entry.title}}</a>
        {% if entry.subsections %}
          <ul class="nav flex-column ml-3">
            {% for subentry in entry.subsections %}
              <li class="nav-item">
                <a class="nav-link text-secondary" href="#{{ subentry.ref | default: subentry.title | slugify }}">{{subentry.title}}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
