###  B9 ###

node_modules
build*

# clang
compile_commands.json

### C++ ###
# Prerequisites
*.d

###
.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
e
*.app

### GDB ###
/.gdb_history

# Eclipse
/.cproject
/.project

# Node
node_modules/
