/* Website Colours */
$main: #000000;
$omr-red: #af000c;
$b9-yellow: #feda05;
$caption: #666666;
$link-colour: $main;
$link-hover: $main;
$link-clicked: #8c8c8c;
$light: #e7edf4;
$header:  #ffffff;

/* Website Fonts */
$font-style: 'Open Sans', sans-serif;
$heading-font: 'Muli', sans-serif;

/* Other */
$content-width: 800px;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
