/* Navigation Bar  */
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  margin-left:-10px;
  margin-right:-10px;
}

/* Defaults */
.container {
	max-width: $content-width;
	margin: 0 auto;
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
body {
	margin: 0;
	color: $main;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
footer {
	text-align: center;
	padding: 40px;
}

/* Headings  */
h1,h2,h3 {
	font-weight: 600;
	color: $main;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	font-size: 2.5em;
	a {
    text-decoration: none;
    color: $main;
  }
	a:visited {
		text-decoration: none;
		color: $link-clicked;
	}
}
h2 {
	font-size: 2em;
}

/* Hyperlinks */
a:link {
  color: $main;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
	color: $main;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover;
	text-decoration: underline;
}

/* Image Captions  */
figcaption {
  color: $caption;
  caption-side: top;
  text-align: left;
}
